{% extends layout %}

{% block title %} Authorization Endpoint{% endblock %}

{% block content %}
    <h2>Authorize Application</h2>
    <p>Dear <b>{{ username }}</b>, <abbr title="{{ client_description }}">{{ client_name }}</abbr> would like permission to access your account:</p>
    <ul>
        {% for scope in scopes %}
            <li>{{ scope }}</li>
        {% endfor %}
    </ul>
    <form method="post">
        {{ form_widget(form) }}
        <div class="form-group text-center">
            <button class="btn btn-success" type="submit" name="submit" />Authorize Application</button>
            <a class="btn btn-primary" role="button" href="{{ path('index') }}">Return</a>
        </div>
    </form>
{% endblock %}